@use '../base/base' as *;

h1, p {
    color: $secondaryColor;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    overflow-x: hidden;
}

.intro-column, .input-column {
    flex: 50%;
}

.input-column {
    background-color: $secondaryColor;
}

.intro {
    margin: 25% auto;
    width: 60%;
    padding: 10%;
}

form {
    margin: 30% auto;
    padding: 10%;
}

label {
    margin-right: 30px;
}

label {
    color: $basicTextColor;
}

.btns {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

input, button {
    border-radius: 20px;
}

button {
    background-color: $primaryColor;
}


@media screen and (max-width: 768px) {
  .container {
    display: block;
  }

  .intro {
    padding: 0;
  }

  .input-column {
    height: 80%;
  }
}

@media screen and (min-width: 653px) and (max-width: 1095px) {
    form {
        margin: 45% auto !important;
    }
}

@media screen and (max-width: 1312px) {
  form {
    margin: 35% auto;
  }

  #their-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .container button {
    padding: 10px;
    border-radius: 5px;
  }

  h2 {
    font-size: 20px;
  }
}
